#mainbody{	
	position:absolute;
	left:40%;
	top:30%;
}
	.post{
		border-style:solid;
		border-width:1px;
		position:absolute;
		float:left;
		left:40%;
 		height:1600px; 
		width:300px;
	}
		.userpanel{
			position:absolute;
			left:5px;
			margin-left:10px;
			margin-right:10px;
		}
		.date{
			position:absolute;
			float:right;
			right:5px;
		}
		.time{
			position:absolute;
			float:right;
			top:15px;
			right:5px;
		}
		.postTag{
			position:relative;
			top:40px;
			float:right;
		}
			 ul{
				display: block;
				list-style: none;
			}
			.postTag ul ul {
				position:absolute;
				display:none;
				left:0px;
				float: left;
			}
			.postTag ul li:hover > ul{
				display: block;
			}
		.status{
			position:relative;
			top:50px;
			float:left;
			left:40px;}
		.content{
			position:absolute;
			top:100px;
			display:inline;
		}
		.reply{
			position:absolute;
			left:30%;
			top:12%;
		}
		.comment{
			position:absolute;
			left:30%;
			top:70%;
		}
