@CHARSET "UTF-8";
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 103px;
    text-align: right;
}

textarea {
  display: inline;
}
.header{
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
	height:60px;
	width:100%;
}
.headerTab:hover{
	background-color: Blue; 
}
.headerTab:active{
	background-color: Purple; 
}
	.navigator{
		text-align:center;
		border-style:solid;
		border-width:1px;
		background-color:#99CCFF;
		position:absolute;
		width:100%;
		height:30px;
	}
		#home{
			padding-top:5px;
			border-style:solid;
			border-width:0px 1px;
			position:relative;
			float:left;
			margin-left:10px;
			margin-right:10px;
			left:10px;
			height:25px;
			width:40px;
		}
		#user{
			padding-top:5px;
			position:relative;
			float:left;
			left:6%;
			margin-left:10px;
			margin-right:10px;
			height:25px;
			width:10%;
		}

		.links{	
			position:absolute;
			float:left;
			left:36%;
		}
			#naviActivity{
				padding-top:5px;
				border-style:solid;
				border-width:0px 1px;
				float:left;
				height:25px;
				width:100px;
			}
			#naviEvent{
				padding-top:5px;
				border-style:solid;
				border-width:0px 1px;
				float:left;
				height:25px;
				width:100px;
			}
		#notification{
			padding-top:5px;
			position:absolute;
			float:left;
			left:64%;
		}
		.searchbar{
/* 			border-style:solid; */
/* 			border-width:1px; */
			padding-top:5px;
			position:absolute;
			float:left;
			left:76%;
			width:200px;
		}
			.searchbar input[type = "submit"]{
				position:absolute;
				top:2px;
				right:18px;
				color: #ccc;
				float:left;
				background-color: #959595;
			}
		#advance{
			padding-top:5px;
			position:absolute;
			float:left;
			left:92%;
		}
	.tagbar{
		background-color:#6699FF;
		border-style:solid;
		border-width:1px;
		position:absolute;
		top:30px;
		width:100%;
		height:30px;
	}
		.tagLinks{
			text-align:center;
			position:absolute;
			float:left;
			left:30%;
		}
			#tagbarAll{
				padding-top:5px;
				border-style:solid;
				border-width:0px 1px;
				float:left;
				height:25px;
				width:100px;
			}
			#tagbarFriend{
				padding-top:5px;
				border-style:solid;
				border-width:0px 1px;
				float:left;
				height:25px;
				width:100px;
			}
			#tagbarNUS{
				padding-top:5px;
				border-style:solid;
				border-width:0px 1px;
				float:left;
				height:25px;
				width:100px;
			}
#hide{ 
	background-color: White; color: SteelBlue; 
}
	#hide:hover{ 
		background-color: LightSteelBlue; 
	}
	#hide:active{ 
		background-color: SteelBlue; color: White; 
	}
.leftspan{
	position:absolute;
	top:60px;
	height:100%;
	left:0px;
}
	.leftButton{
	position:absolute;
	left:0px;
	top:25%;
	}
	.setting{	
		border-style:solid;
		border-width:1px 1px;
		position:absolute;
		left:-151px;
		height:100%;
		width:150px;
	}
.rightspan{	
	position:absolute;
	top:60px;
	height:100%;
	right:0px;
}
	.rightButton{
		position:absolute;
		right:0px;
		top:25%;
	}
	.friendlist{	
		border-style:solid;
		border-width:1px 1px;
		position:absolute;
		right:-151px;
		height:100%;
		width:150px;
	}
.mainbody{
	top:60px;
	height:100%;
	width:800px;
}