@CHARSET "UTF-8";
#mainbody{
	
}

	.basic{
	height:160px;
	}
	.place{
	height:160px;
	}
	.contact{
	height:160px;	
	}
	.employment{
	height:160px;
	}
	.tags{
	}
		.visibleTags{	
		}
		.hiddenTags{
		}