<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style = "max-height:20px;">
	<ul class="nav row-fluid" style = "text-align:center;">
		<li class = "span2">
			<a class="brand pull-left" style = "padding-top:0px;margin-top:7px;" href="/home"><font style = "font-family: 'Lato', sans-serif;font-weight:300;font-size:45px;color:#A0A0A0;">Circa</font></a>
		</li>
		<li class = "span5">
			 <ul class="nav" style = "font-family: 'Lato', sans-serif;font-weight:300;">
		      <li id = "homeNav" class="active"><a href="#">Home</a></li>
		      <li id = "searchNav"><a href="#">Search</a></li>
		    </ul>
		</li>
		<li class = "offset1 span4">
			<div class="btn-group pull-left">
			<button id = "createPost" href = "#postModal" data-toggle="modal" class="btn"><i class = "icon-pencil"></i><strong style = "font-family: 'Lato', sans-serif;font-weight:300;"> Post</strong></Button>
			<button id = "notification" class="btn dropdown-toggle" data-toggle="dropdown" data-placement="right" data-title="notifications list"><i class = "icon-exclamation-sign"></i><font id = "notificationNumber"> 0 </font><span class="caret" style = "border-top-color:black;"></span></Button>
			<ul id = "notificationList" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style = "padding:10px;text-align:left;overflow-y:scroll;max-height:400px;max-width:400px;min-width:300px;">
				<li tabindex='-1' style = 'text-align:center;'>No New Notification.</li>
			</ul>
			</div>
		</li>
	</ul>
  </div>
</div>
	
<div class="navbar navbar-fixed-top" style = "margin-top:41px;font-size:16px;font-weight:200;z-index:1;">
  <div class="navbar-inner" style = "border:0;background-image:none;height:41px;font-family: 'Lato', sans-serif;font-weight:300;"">
	<ul id = "subNavBar" class="nav row-fluid" style = "text-align:center;">
		<li class = "span2" id = "left" action="in"><a href="#"><i class = "icon-chevron-right" style = "margin-top:2%;"></i></a></li>
		<li class = "span2"><a href="#"></a></li>
		<li class = "span2"><a href="#"></a></li>
		<li class = "span2"><a href="#"></a></li>
		<li class = "span2"><a href="#"></a></li>
	    <li class = "span2" id = "right" action="in"><a href="#"><i class = "icon-chevron-left" style = "margin-top:2.5%;"></i></a></li>
	</ul>
  </div>
</div>